RESUMEN DEL CAPITULO 6
6.1
6.2
6.3
6.4 Estimar la Duración de las Actividades
Estimar la Duración de las Actividades es el proceso que consiste en establecer aproximadamente la
cantidad de periodos de trabajo necesarios para finalizar cada actividad con los recursos estimados
6.5 DESARROLLAR EL CRONOGRAMA 
Proceso que consiste en analizar el orden de las actividades, su duración, los requisitos de recursos y las restricciones para crear el cronograma del proyecto. La incorporación de las actividades, duraciones y recursos a la herramienta de planificación genera un cronograma con fechas planificadas para completar las actividades del proyecto. 
6.5.1. ENTRADAS 
Atributos de la Actividad 
Diagramas de Red del Cronograma del Proyecto 
Requisitos de Recursos de la Activida 
Calendarios de Recursos 
Estimados de la Duración de la Actividad 
Enunciado del Alcance del Proyecto: contiene supuestos y restricciones que pueden causar un impacto en el desarrollo del cronograma del proyecto. Factores Ambientales de la Empresa: Influyen en el proceso Desarrollar el Cronograma, se encuentra la herramienta de planificación que puede utilizarse para el desarrollo del cronograma. Activos de los Procesos de la Organización.
Metodología de planificación.
Calendario del proyecto. 
6.5.2 HERRAMIENTAS Y METODOS

    Análisis de la Red del Cronograma: Emplea diversas técnicas analíticas, tales como el método de la ruta crítica, el método de la cadena crítica, el análisis “¿Qué pasa si…?” y la nivelación de recursos, para calcular las fechas de inicio y finalización tempranas y tardías para las partes no completadas de las actividades del proyecto.
    Método de la Ruta Crítica: calcula las fechas teóricas de inicio y finalización tempranas y tardías para todas las actividades, sin considerar las limitaciones de recursos, realizando un análisis que recorre hacia adelante y hacia atrás toda la red del cronograma.
    Metodo de la cadena crítica.
    Nivelación de recursos
    Análisis ¿Qué pasa si...?
    Aplicación de Adelantos y Retrasos: refinamientos que se aplican durante el análisis de la red para desarrollar un cronograma viable
    Compresión del cronograma: *Compresión: se analizan las concesiones entre costo y cronograma para determinar cómo obtener la mayor compresión con el menor incremento de costo.

    Ejecución rápida: técnica de compresión del cronograma en la cual las fases o actividades que normalmente se realizarían en forma secuencial, se realizan en paralelo.

    Herramienta de planificación: Las herramientas automatizadas de planificación aceleran el proceso de planificación, generando fechas de inicio y finalización basadas en las entradas de actividades, los diagramas de red, los recursos y las duraciones de las actividades. 5.5.3. SALIDAS
    Cronograma del proyecto. digrama de hitos, barras y red del cronograma
    Linea base del proyecto y actualizaciones a los documentos.


6.6
